{% set createdDate_d = node.getCreatedTime|date('d') %}
{% set createdDate_m = node.getCreatedTime|date('M') %}

<div class="blog-posts single-post">

    <article class="post post-large blog-single-post">

        {# Display field_image if it exists #}
        {{ content.field_image }}

        <div class="post-date">
            <span class="day">{{ createdDate_d }}</span>
            <span class="month">{{ createdDate_m }}</span>
        </div>

        <div class="post-content">

            <h2><a href="{{ url }}">{{ label }}</a></h2>

            <div class="post-meta">
                {# <span><i class="fa fa-user"></i> By {{ author_name }} </span> #}
                {% if content.field_tags|render %}
                    <span><i class="fa fa-tag"></i> {{ content.field_tags }} </span>
                {% endif %}
            </div>

            {% if content.body | render %}
                {{ content.body }}
            {% endif %}

            <div class="post-block post-author clearfix">
                <h3 class="heading-primary"><i class="fa fa-user"></i>{{ 'Author'|trans }}</h3>
                <div class="img-thumbnail">
                    {{ author_picture }}
                </div>

                <p><strong class="name">{{ author_name }}</strong></p>

            </div>

        </div>
    </article>

</div>