{#
/**
 * @file
 * Porto theme implementation for foto_a_galeriahoz nodes in teaser view mode.
 *
 * This template displays gallery items as Porto product cards.
 *
 * Available variables:
 * - node: The node entity.
 * - label: The title of the node.
 * - content: All node fields rendered.
 * - url: Direct URL of the current node.
 * - attributes: HTML attributes for the wrapper.
 * - gallery_image_url: URL to the gallery image (with image style applied).
 * - gallery_image_alt: Alt text from media entity or node title.
 * - gallery_image_title: Title from media entity or node title.
 * - gallery_media: The media entity (if available).
 */
#}

<span class="product-thumb-info">
    <a href="{{ url }}">
        <span class="product-thumb-info-image">
            <span class="product-thumb-info-act">
                <span class="product-thumb-info-act-left"><em>További</em></span>
                <span class="product-thumb-info-act-right"><em><i class="fa fa-plus"></i> Részletek</em></span>
            </span>

            {% if gallery_image_url %}
                {# Display image with proper alt text from media entity #}
                <img src="{{ gallery_image_url }}" alt="{{ gallery_image_alt }}" title="{{ gallery_image_title }}" class="img-responsive">
            {% elseif content.field_telikert_kep %}
                {# Fallback to field render if preprocess didn't provide URL #}
                {{ content.field_telikert_kep[0] }}
            {% else %}
                <img alt="Nincs kép" class="img-responsive" src="http://placehold.it/800x600/f0f0f0/999999?text=Nincs+kép">
            {% endif %}

        </span>
    </a>
    <span class="product-thumb-info-content">
        <a href="{{ url }}">
            <h4 class="heading-primary">{{ label }}</h4>

            {% if content.body %}
                <div class="product-description">
                    {{ content.body }}
                </div>
            {% endif %}

            <span class="price">
                {% if content.field_gallery_tag %}
                    {# Display only gallery tag like live site - single term #}
                    {{ content.field_gallery_tag }}
                {% endif %}
            </span>
        </a>
    </span>
</span>
